

  #httpipicresizecomimages201604046vncngif-userlist-user-constantchaos, #lobby-userlist-user-constantchaos, #staff-userlist-user-constantchaos, #memedome-userlist-user-constantchaos { 
    background: rgba(244, 244, 244, 0.8) url("") right no-repeat;
  }

  #blazesparkleague-userlist-user-silvernyan321 { 
    background: rgba(244, 244, 244, 0.8) url("http://vignette4.wikia.nocookie.net/pokemonfanon/images/4/42/Weavile.gif/revision/latest?cb=20110501215736") right no-repeat;
  }

  #lobby-userlist-user-captaineevee, #blazesparkleague-userlist-user-captaineevee, #staff-userlist-user-captaineevee { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokemon/gen4/dp/133.png") right no-repeat;
  }

  #silverspalace-userlist-user-silvernyan321 { 
    background: rgba(244, 244, 244, 0.8) url("http://pokemonshowdown.com/interstice?uri=http%3A%2F%2Fvignette4.wikia.nocookie.net%2Fpokemonfanon%2Fimages%2F4%2F42%2FWeavile.gif%2Frevision%2Flatest%3Fcb%3D20110501215736") right no-repeat;
  }

  #lobby-userlist-user-captaineevee { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokemon/gen4/dp/133.png") right no-repeat;
  }

  #lobby-userlist-user-chirou, #staff-userlist-user-chirou, #events-userlist-user-chirou, #casino-userlist-user-chirou, #tournaments-userlist-user-chirou, #silverspalace-userlist-user-chirou, #teachcode-userlist-user-chirou { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/acozY8x.png") right no-repeat;
  }

  #lobby-userlist-user-shadowcune, #memedome-userlist-user-shadowcune { 
    background: rgba(244, 244, 244, 0.8) url("https://tse1.mm.bing.net/th?id=OIP.M72a5bcaa4fd75028feeaa5157afe593ao0&pid=15.1") right no-repeat;
  }

  #lobby-userlist-user-terminalhydreigon { 
    background: rgba(244, 244, 244, 0.8) url("https://cdn.rawgit.com/CreaturePhil/dem-feels/master/emotes/oshet.png") right no-repeat;
  }

  #httpgiphycomgifsw1snzsvkqxv3q-userlist-user-mrlegal { 
    background: rgba(244, 244, 244, 0.8) url("Casino") right no-repeat;
  }

  #lobby-userlist-user-constantchaos, #staff-userlist-user-constantchaos, #memedome-userlist-user-constantchaos { 
    background: rgba(244, 244, 244, 0.8) url("http://play.pokemonshowdown.com/sprites/xyani/houndoom-mega.gif") right no-repeat;
  }

  #lobby-userlist-user-darkchaoticflare, #staff-userlist-user-darkchaoticflare, #memedome-userlist-user-darkchaoticflare { 
    background: rgba(244, 244, 244, 0.8) url("http://play.pokemonshowdown.com/sprites/xyani/houndoom-mega.gif") right no-repeat;
  }

  #lobby-userlist-user-shadowcune, #staff-userlist-user-shadowcune, #memedome-userlist-user-shadowcune, #casino-userlist-user-shadowcune, #rayquazafortress-userlist-user-shadowcune { 
    background: rgba(244, 244, 244, 0.8) url("http://pokecharms.com/data/trainercardmaker/characters/custom/Cosplayers/p245-suicune-by-skyeward-dreamer.png") right no-repeat;
  }

  #lobby-userlist-user-shadowcune { 
    background: rgba(244, 244, 244, 0.8) url("http://pokecharms.com/data/trainercardmaker/characters/custom/Cosplayers/p133.png") right no-repeat;
  }

  #lobby-userlist-user-shadowcune, #memedome-userlist-user-shadowcune, #staff-userlist-user-shadowcune, #rayquazafortress-userlist-user-shadowcune, #casino-userlist-user-shadowcune { 
    background: rgba(244, 244, 244, 0.8) url("http://pokecharms.com/data/trainercardmaker/characters/custom/Cosplayers/p196.png") right no-repeat;
  }

  #lobby-userlist-user-ahelpfulrayquaza, #wagerbattles-userlist-user-ahelpfulrayquaza, #rayquazafortress-userlist-user-ahelpfulrayquaza { 
    background: rgba(244, 244, 244, 0.8) url("http://pokemoneclipse.com/images/pokemon/ShinyMegaRayquaza.png") right no-repeat;
  }

  #lobby-userlist-user-shadowcune, #memedome-userlist-user-shadowcune, #casino-userlist-user-shadowcune, #rayquazafortress-userlist-user-shadowcune { 
    background: rgba(244, 244, 244, 0.8) url("http://orig15.deviantart.net/ed6b/f/2011/232/3/1/suicune_icon_for_kolawolf_by_ichiinii-d479udo.gif") right no-repeat;
  }

  #lobby-userlist-user-shadowcune { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokemon/gen3/rusa_action/245.gif") right no-repeat;
  }

  #lobby-userlist-user-terminalhydreigon { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/c7iXbYC.png") right no-repeat;
  }

  #lobby-userlist-user-terminalhydreigon { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/ZNJDiuv.png") right no-repeat;
  }

  #lobby-userlist-user-shadowcune { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokecons_action/245.gif") right no-repeat;
  }

  #lobby-userlist-user-terminalhydreigon { 
    background: rgba(244, 244, 244, 0.8) url("http://www.serebii.net/pokedex-bw/icon/635.png") right no-repeat;
  }

  #lobby-userlist-user-ahelpfulrayquaza, #rayquazafortress-userlist-user-ahelpfulrayquaza, #staff-userlist-user-ahelpfulrayquaza, #riddles-userlist-user-ahelpfulrayquaza { 
    background: rgba(244, 244, 244, 0.8) url("https://raw.githubusercontent.com/msikma/pokesprite/master/icons/pokemon/shiny/rayquaza-mega.png") right no-repeat;
  }

  #lobby-userlist-user-mrlegal, #staff-userlist-user-mrlegal, #rayquazafortress-userlist-user-mrlegal { 
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokemon/gen6/xy-animated/008.gif") right no-repeat;
  }

  #lobby-userlist-user-terminalhydreigon { 
    background: rgba(244, 244, 244, 0.8) url("http://orig02.deviantart.net/4e58/f/2013/141/9/b/hydreigon_lick_icon_commission_by_poke_lover88-d662ixh.gif") right no-repeat;
  }